[data-theme="brutalism"] {    
    /* font */
    --font-family: Verdana, Geneva, sans-serif;

    /* raw palette */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #eeeeee;
    --color-gray-dark: #cccccc;
    --color-blue: #0000ee;

    /* semantic color */
    --color-bg-body: var(--color-white);
    --color-text-body: var(--color-black);
    --color-bg-site-header: var(--color-gray);
    --color-bg-button-hover: var(--color-gray);
    --color-text-button: var(--color-blue);
    --color-text-button-hover: var(--color-blue);
    --color-bg-content-heading: var(--color-gray);
    --color-bg-features-card: var(---color-gray);
    --color-text-link: var(--color-blue);
    --color-text-link-hover: color-mix(in srgb, var(--color-text-link) 65%, transparent);

    /* shape */
    --border-button: 1px solid var(--color-gray-dark);
    --width-site-header: 100%;
    --max-width-header-wrapper: var(--max-width-content-wide);
    --max-width-overview-content: var(--max-width-content-wide);
    --max-width-features-content: var(--max-width-content-wide);
    --max-width-resources-content: var(--max-width-content-wide);
    --grid-template-columns-button-container: repeat(auto-fit, minmax(7rem, 1fr));

    /* treatments */
    --list-style-features-list: none;
    --list-style-resources-list: none;
    --text-decoration-link: underline;
    --text-decoration-link-hover: underline;
    --text-transform-body: lowercase;

    /* focus */
    --outline-focus: 2px solid var(--color-lime);

    /* spacing */
    --margin-header-wrapper: var(--space-sm) 0 0;
    --margin-content-heading: var(--space-sm) 0;
    --padding-header-wrapper: var(--space-sm);
    --padding-content: var(--space-sm);
    --padding-site-header: var(--space-xxs);
    --padding-content-heading: var(--space-xxs);
    --padding-button: var(--space-xxs);

    /* orientation */
    --flex-direction-header-wrapper: column;
    --display-site-title: inline-block;
    --display-author: inline-block;
}